<a href="https://colab.research.google.com/github/npgk27/npgk27.github.io/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [2]:
# Future value
pv = 100
r = 0.1
n = 7
fv = pv * ((1+ (r))**n)
print(round(fv, 2))

194.87

In [3]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [4]:
score = 80
if score >=60 :
  print("Pass")

Pass

In [7]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'
word = '''Hello'''
print(f'x = {x, type(x)}, price={price, type(price)}, word={word, type(word)}')

x = (2, <class 'int'>), price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [8]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [9]:
x="Hello World"
print(x, type(x))
y=2
print(y, type(y))
z=2.5
print(z, type(z))
a=7j
print(a, type(a))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [10]:
x=str(3)
print(x, type(x))
y=int(3)
print(y, type(y))
z=float(3)
print(z,type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [11]:
# BMI calc
# input
height_cm=170
weight_kg=70
#process
height_m = height_cm/100
bmi=(weight_kg/(height_m**2))
print("Your bmi is :" + str(round(bmi,1)))

Your bmi is :24.2

In [12]:
# 100$ sau 7 nam
fv = 100*(1+0.1)**7
print('fv = ', round(fv,2))

fv =  194.87

In [13]:
#input
pv=100
r=0.1
n=7
fv=pv*((1+r)**n)
print('fv = ', round(fv,2))

fv =  194.87

In [14]:
# list []
x = [60 , 70, 80, 90]
print(len(x))
print(x[0])
print(x[0])
print(x[-1])

4
60
60
90

In [15]:
# tuples ()
x=(10,20,30,40,50)
print(x[0])
# x[0]=50 #error

10

In [21]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [22]:
# dictionary
k={'EN':'English', 'FR':'Frend'}
print(k['EN'])

English

In [23]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [25]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [27]:
account_numbers = set([acc[1] for acc in accounts]) # set conprehensive
print(account_numbers)
new_account_number = 1004
if new_account_number not in account_numbers:
  print(f'Account number {new_account_number} is not in use')

{1001, 1002, 1003}
Account number 1004 is not in use

In [32]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for acc-num, acc_info in accounts.items():
  print('-'*50)
  print('Account Number: ', acc_num)

  print('Account Name: ', acc_info['name'])
  print('Account Balance: ', acc_info['balance'])
  print('Account Type: ', acc_info['tyoe'])

--------------------------------------------------
Account Number:  1001
Account Name:  Cash
Account Balance:  500.0
Account Type:  Asset
--------------------------------------------------
Account Number:  1002
Account Name:  Accounts Receivable
Account Balance:  1000.0
Account Type:  Asset
--------------------------------------------------
Account Number:  2001
Account Name:  Accounts Payable
Account Balance:  750.0
Account Type:  Liability

In [43]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [45]:
# Python if elif else
score = 90
grade = "100"
if score >=90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "E"
print(grade)

A

In [46]:
for i in range(1,6):
  print(i, end = ' ')

1 2 3 4 5

In [49]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(i, ' * ' , j , ' = ', i*j)
  print('-'*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------